@import "tailwindcss";

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: #0B1220;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 50px; /* navbar height */
}

