@import "tailwindcss";

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: #0B1220;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 50px; /* navbar height */
}

body {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}